@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("lightbox.min.css");

/*
  Background Gradient
*/
#bg-gradient {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: -1;
}

/*
  Header Texts
*/
h1 {
  text-align: center;
}

/*
  Hide scrollbar
*/
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: "Poppins";
}

body::-webkit-scrollbar {
  display: none;
}

/*
  Top Navigation Bar
*/
.topnav {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav a {
  color: #f2f2f2;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Highlight current page */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/*
  Masonry Image Gallery
*/

.masonry {
  column-count: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.masonry::after {
  content: "";
  flex-grow: 999;
}

.masonry .mItem {
  position: relative;
  flex: 1 1 auto;
  height: calc(100vh/3);
}

img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}
