@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url("lightbox.min.css"); /* Custom lightbox css to change location of images */
@import url("weather-icons.min.css");

/*
  Background Gradient
*/
#bg-gradient {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: -1;
}

/*
  Conditions Results
*/
.location-input {
  text-align: center;
}

.conditions {
  text-align: center;
}

.wi {
  font-size: 42px;
}

#map {
  height: 500px; /* TODO Make responsive */
}

/*
  Input formatting
*/
input, textarea, select {
  font-family: inherit;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 400px;
  outline: none;
}

textarea {
  height: 400px;
}

/*
  Hide scrollbar
*/
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: "Poppins";
}

body::-webkit-scrollbar {
  display: none;
}

/*
  Top Navigation Bar
*/
.topnav {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav a {
  color: #f2f2f2;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Highlight current page */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/*
  Masonry Image Gallery
*/
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer, .grid-item {
  width: calc(25% - 6px);
  margin-bottom: 6px;
  height: 276.4px;
}

.grid-item--height2 {
  height: 628.63px;
}

.grid-item img {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .grid-sizer, .grid-item {
    width: calc(33.33333% - 6px);
  }
}

@media screen and (max-width: 991px) {
  .grid-sizer, .grid-item {
    width: calc(50% - 6px);
  }
}

@media screen and (max-width: 767px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}

/* loader */

.loader {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 0;
  margin: 0 auto;
}

.loader.show {
  opacity: 1;
}

.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #f4f4f4;
  animation: loader 0.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes loader {
  0% {
      top: 8px;
      height: 64px;
  }

  50%,
  100% {
      top: 24px;
      height: 32px;
  }
}